/* General */
*{ 
    box-sizing: border-box;
}

body{
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Martel Sans', sans-serif;
}

/* Header */
header{
    text-align: center;
}

header h1{
    margin-bottom: 50px;
    color: rgb(226, 53, 113);
}

/* Cards */
main{
    padding-top: 20px;
    padding-bottom: 20px;
}
.cards-container > div{
    height: 100px;
    width: calc((100% - 10%)/3);
    background-color: black;
    margin-bottom: 5%;
    box-shadow: 5px 5px 5px grey;
    overflow: hidden;
}

div > img{
    max-width:100%;
    max-height:100%; 
    float: left;  
    margin-right: 5px;
}


/* Individual Cards */
.persona{
    float: left;
    color: white;
    font-size: 9px;
}

.persona > p:last-child{
    color: rgb(109,194,212);
}

.card-floating-left{
    float: left;
    margin-right: 5%;
}

.card-floating-right{
    float: right;
}



